.qw {
    border: 10px solid #c1c7c1;
    background-color: #c1c7c1;
    margin-bottom: 2%;
    margin-top: 0%;

}

.qw li {
    font-size: 18px;
    margin-left: 1%;
    display: inline;
}

.hh {
    font-size: 35px;
    border: 1px solid #c1c7c1;
    background-color: #c1c7c1;
    margin-right: 25%;
    display: inline;
}

.hh {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.er {
    margin-left: 300px;
    width: 10px;
}

.er1 {
    margin-left: 300px;
    width: 400px;
    font-size: 18px;
    text-align: left;
}

.er2 {
    border-radius: 50%;
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline;


}

.er3 {

    display: inline-flex;
    margin-left: 275px;
}

.er3 h3 {
    font-size: 18px;
}

.er4 {
    margin-left: 30px;
    width: 300px;
    font-size: 18px;
    text-align: left;
}

.err {
    display: flex;

}

.er6 {
    margin-left: 30px;
    width: 300px;
}

.er8 {
    margin-left: 30px;
    width: 300px;
}

.er9 {
    margin-left: 30px;
    width: 300px;
    font-size: 18px;
    text-align: left;
}

.er11 {
    width: 200px;
    font-size: 17px;
    text-align: left;
}

table {
    margin-left: 10px;
    border-style: none;
}


.qrr1 {
    margin-left: 290px;
    margin-bottom: 0px;
    font-size: 35px;
    border-bottom: 2px solid grey;
    margin-right: 250px;
    padding: 20px;
}

.qrr2 {
    margin-top: 0%;
    display: flex;
}

.qr1 {
    margin-left: 300px;
    width: 550px;
}

.qr2 {
    margin-left: 20px;
    width: 335px;
    font-size: 18px;
    text-align: left;
    margin-top: 0%;
}

.qr3 {
    display: inline-flex;
}

.qr3 p {
    font-size: 18px;
}


.qr4 {
    border-radius: 50%;
    width: 60px;
    margin-left: 30px;
    margin-right: 10px;
    display: inline;
}

.qr5 {
    margin-left: 300px;
    margin-bottom: 0px;
    width: 250px;
    margin-top: 20px;
}

.qr6 {
    margin-left: 300px;
    width: 250px;
    margin-top: 0%;
    text-align: left;
    margin-right: 10px;
}

.qr7 {
    width: 300px;
}

.qr8 {
    width: 635px;
    margin-top: 20px;
}

.qrr8 {
    border-top: 2px solid grey;
    width: 250px;
    margin-left: 300px;
    margin-right: 10px;
}

.qr9 {
    margin-left: 50px;
    width: 600px;
    margin-top: 0%;
}

.qrr5 {
    display: flex;
}

.wrr {
    display: flex;
}

.wr1,
.wr2,
.wr3,
.wr4,
.wr5 {
    border-bottom: 2px solid grey;
    width: 400px;
    margin-left: 0px;
}

.dr1,
.dr2,
.dr3,
.dr4,
.dr5 {
    border-bottom: 2px solid grey;

}

.drr1 {
    margin-left: 300px;
    width: 310px;
    padding: 5px;
}

.drr {
    margin-left: 290px;
    margin-bottom: 0px;
    font-size: 35px;
    border-bottom: 2px solid grey;
    margin-right: 250px;
    padding: 20px;
}

.dr7 {
    margin-left: 5px;
    display: inline-flex;
}

.dr9 {
    margin-right: 20px;
}

.drrx {
    display: flex;
}


.drr3 {
    width: 300px;
    margin-left: 20px;
}

.dr8 {
    border-radius: 50%;
    width: 60px;
}

.drr4 {
    margin-left: 8px;
    width: 300px;
    margin-top: 10px;

}

.drr5 {
    width: 650px;
    margin-left: 20px;
    margin-top: 10px;


}

.drr0 {
    display: flex;
}

.drr7 {
    display: flex;
}


.mmr {
    margin-left: 290px;
    margin-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px solid grey;
    margin-right: 250px;
    padding: 20px;
}

.mm1 {
    margin-left: 300px;
    width: 300px;

}

.mm2 {
    border-bottom: 2px solid grey;
}

.mm3 {
    margin-left: 20px;
    width: 300px;
    font-size: 18px;
    text-align: left;
}

.mm4 {
    margin-left: 20px;
    width: 300px;
    font-size: 18px;
    text-align: left;
}

.mm5 {
    width: 300px;
    margin-left: 20px;
}

.mmm {
    display: flex;
    font-size: 18px;
}

.qq {
    margin-left: 1400px;
    font-size: large;
}

.ss {
    display: flex;
}

.aa1 li {
    font-size: 18px;
    color: white;
    margin-right: 40px;
    padding: 2px;

}

.aa2 li {
    font-size: 18px;
    color: white;
    margin-right: 40px;
    padding: 2px;

}

.aa3 li {
    font-size: 18px;
    color: white;
    margin-right: 40px;
    padding: 2px;

}

.aa4 li {
    font-size: 18px;
    color: white;
    padding: 2px;
}

.aaa {
    border: 10px solid #30302f;
    background-color: #30302f;
    border-width: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
    display: flex;
}

.aa1 {
    margin-left: 300px;
}

.aaa li a {
    color: white;
    font-size: 18px;
    margin-top: 40px;
    text-decoration: none;
  

}
.aa5{
    padding: 30px;
    margin-left: 0px;
    margin-top: 20px;
}

.aa6 img {
    display: inline;
}

.aa6 {
    display:flex;

}
.nnn{
    border-top: 0%;
    border: 10px solid gray;
    display: flex;
    background-color: gray;
}
.nn1{
    font-size: 18px;
    margin-left: 250px;
}
.nn2{
    display: flex;
    width: 30px;
    margin-left: 1000px;
    margin-top: 20px;
}
.nn2 img{
    margin-right: 10px;
}