/*first page*/


.hh1 {
    font-family: "Caesar Dressing", system-ui;
    font-style: normal;
}
.logo{
    margin-left: 100px;
}
.hhh1{
    margin-top: 160px;
}
.hhh1 h1{
    font-size: 60px;
}
.hh7 {
    margin-left: 800px;
    font-size: 22px;
}
.ss2 p{
    line-height: 20px;
}
.vv{
    line-height: 10px;
}
.iii{
    margin-left: 300px;
    margin-right: 300px;
}
.ii2{
    margin-left: 30px;
}
.ii3{
    margin-top: 10px;
}
.ii4{
    margin-left: 820px;
    margin-bottom: 200px;
}
.container{
    margin-left: 350px;
    margin-right: 600px;
}
.col{
margin-right: 100px;
padding: 60px;
}

.gg{
    margin-left: 700px;
}

/*form*/


.qqq {
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 750px;
    font-size: large;
}

.bb {
    border-top: 1px solid rgb(217, 215, 215);
    margin-top: 16px;
}

.qq1 {
    margin-left: 72px;

}

.qq1 h1 {
    color: black;
    font-size: 40px;

}

.qq1 a {
    color: black;
    font-size: 18px;

}

.qq2 {
    margin-top: 30px;
    border: 1px solid white;
    box-shadow: inset;
    width: 500px;
    padding: 40px;
    border-radius: 6px;
    line-height: 60px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.mb-3 a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
}


/*hover*/


a:hover {
    color: rgb(49, 48, 48);
    text-decoration: underline;

}

.bi {
    height: 20px;
}

.bi:hover {
    color: rgb(48, 45, 45);
}

.hh2 a:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.hh7:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.qq1 a:hover {
    text-decoration: none;
}

.mb-3 a:hover {
    text-decoration: underline;
}

.col-1:hover {
    color: rgb(49, 48, 48);
    text-decoration: underline;
}
.col:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
.zz a:hover{
    text-decoration: none;
}
.ff a:hover{
    color: black;
}
.kk1:hover, .kk2:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}