.dnz {
    height: 200px;
    width: 200px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    background-color: black;
    border-radius: 50%;
    animation-timing-function: ease-in;
}

@keyframes example {
    0% {
        background-color: black;
        top: 20px;
        left: 750px;
    }

    25% {
        background-color: black;
        top: 500px;
        left: 750px;
    }

    50% {
        background-color: black;
        top: 20px;
        left: 750px;
    }

    75% {
        background-color:black;
        top: 500px;
        left: 750px;
    }

    100% {
        background-color: black;
        top: 20px;
        left: 750px;
    }


}

.adh {
    border-bottom: 20px solid black;
    margin-top: 500px;
    position: static;
}