.dnz {
    height: 200px;
    width: 200px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    background-color: black;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0.3, 0.07, 0.58, 1.6);
}

@keyframes example {
    0% {
        background-color: black;
        top: 0px;
        left: 100px;
    }

    25% {
        background-color: black;
        top: 500px;
        left: 750px;
    }

    50% {
        background-color: black;
        top: 0px;
        left: 1500px;
    }

    75% {
        background-color: black;
        top: 500px;
        left: 750px;
    }

    100% {
        background-color: black;
        top: 0px;
        left: 100px;
    }


}

.adh {
    border-bottom: 20px solid black;
    margin-top: 560px;
    position: static;
}