<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dhanushya V S</h1>
    <p>Electronics and Communication Engineering Graduate</p>
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deserunt dicta enim. Iure nobis incidunt magnam animi placeat quam! Aspernatur ab vitae fuga quas, assumenda at in blanditiis sit illo!</p>
    <img src=".."
</body>
</html>