.main {
    background-color: rgb(248, 228, 218);
}

.tt {
    margin-left: 150px;
    margin-top: 11px;
    line-height:3px;
    font-size: 14px;
}

.main1 {
    background-color: rgb(51, 50, 50);
    height: 100px;
}

.logo {
    margin-top: 10px;
    margin-left: 150px;
}

.main1 {
    display: flex;
}

.btn {
    margin-top: 33px;
    color: white;
    font-size: 15px;
    margin-left: 100px;
}

.dropdown-menu {
    background-color: rgb(51, 50, 50);
}

.dropdown-item {
    color: white;
    font-size: 15px;
}

.list li {
    display: inline;
    font-size: 15px;
    color: white;
    margin-right: 10px;
}

.list {
    margin-top: 40px;
    margin-left: -15px;
}

.search {
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.input-group {
    position: relative;
}

.input-group-search {
    position: absolute;
    top: 50%;
    left: 10px;
}
.search-input {
    margin-top: 10px;
    color: #ccc;
    padding:8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(61, 60, 60);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bi{
    color:grey;
    margin-left: 20px;
    margin-top: 36px;
}
.bi-linkedin{
    border-radius: 50%;
}
.bi-heart{
    color:rgba(248, 191, 5, 0.932);
}
.bi-basket2{
    color: rgba(248, 191, 5, 0.932);
}
.main2 {
    position: relative;
}

.text-front {
    position: absolute;
    color: white;
    top: 100px;
    left: 400px;
    font-size:50px;
}
.bt{
    display: flex;
    flex-direction: column;
    margin-left:0px;
   
}
.bt h6{
    color: gray;
    height: 15px;
    text-align: center;
    margin-top:10px;
}
.bt1{
    margin-bottom: 20px;
    width: 170px;
}
.bt2{
    width: 200px;
}
.slide{
    border-radius: 50%;
}
.contents{
    margin-left: 170px;
    margin-top: 60px;
}
.cc{
    display: flex;
}
.cc p{
    text-align: center;
    margin-top: 5px;
    color: gray;
}