.header{
    position: fixed;
    
    width: 100%;
}

.main {
    background-color: rgb(248, 228, 218);
    
}

.tt {
    margin-left: 150px;
    margin-top: 11px;
    line-height: 3px;
    font-size: 14px;
}

.main1 {
    background-color: rgb(51, 50, 50);
    height: 100px;
    
}

.logo {
    margin-top: 10px;
    margin-left: 150px;
}

.main1 {
    display: flex;
}

.btn {
    margin-top: 33px;
    color: white;
    font-size: 15px;
    margin-left: 100px;
}

.dropdown-menu {
    background-color: rgb(51, 50, 50);
}

.dropdown-item {
    color: white;
    font-size: 15px;
}

.list li {
    display: inline;
    font-size: 15px;
    color: white;
    margin-right: 10px;
}

.list {
    margin-top: 40px;
    margin-left: -15px;
}

.search {
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.input-group {
    position: relative;
}

.input-group-search {
    position: absolute;
    top: 50%;
    left: 10px;
}

.search-input {
    margin-top: 10px;
    color: #ccc;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(61, 60, 60);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bi {
    color: grey;
    margin-left: 20px;
    margin-top: 36px;
}

.bi-linkedin {
    border-radius: 50%;
}

.bi-heart {
    color: rgba(248, 191, 5, 0.932);
}

.bi-basket2 {
    color: rgba(248, 191, 5, 0.932);
}

.main2 {
    position: relative;
}

.text-front {
    position: absolute;
    color: white;
    top: 100px;
    left: 400px;
    font-size: 50px;
}

.bt {
    display: flex;
    flex-direction: column;
    margin-left: 0px;

}

.bt h6 {
    color: gray;
    height: 15px;
    text-align: center;
    margin-top: 10px;
}

.bt1 {
    margin-bottom: 20px;
    width: 170px;
}

.bt2 {
    width: 200px;
}

.slide {
    border-radius: 50%;
}

.contents {
    margin-left: 170px;
    margin-top: 60px;
}

.cc {
    display: flex;
}

.cc p {
    text-align: center;
    margin-top: 5px;
    color: gray;
}

.main3 {
    margin-left: 150px;
    margin-top: 50px;
}

.main3 h2 {
    color: gray;
    text-align: center;
    margin-left: -100px;
    font-weight: 600;
}

.grid-container {
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    gap: 50px;
    display: flex;
    align-content: center;

}

.grid-item {
    width: 280px;
    font-size: 15px;
    color: gray;

}
.bi-heart1{
    border: 1px solid rgb(243, 243, 243);
    border-radius: 50%;
    color: grey;
    background-color: rgb(243, 243, 243);
    width: 40px;
    height: 30px;
    padding: 6px;
    margin-top:5px;
}
.hh{
    display: flex;
}
.b{
    color: black;
    font-size: 16px;
}
.button1{
    border-color: rgb(156, 154, 154);
    border-radius: 0%;
    width: 150px;
    height:40px;
    border-width: 1px;
    margin-left: 0%;
    background-color: rgb(248, 248, 248);
    margin-top: 10px;
}
.button1 p{
    font-size: 16px;
}
.button2{
    border-color: rgb(156, 154, 154);
    border-radius: 0%;
    width: 250px;
    height:40px;
    border-width: 1px;
    background-color: white;
    margin-top: 10px;
    margin-left: 700px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}
.button2 p{
    font-size: 14px;
    font-weight: 600;
}
.ff{
    margin-left: 150px;
    margin-right: 80px;
}
.foot2{
    display: flex;
}
.footer{
    display: flex;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: 16px;
}
.row{
    margin-right: 80px;
    margin-top: 30px;
}
.row1{
    margin-left: 100px;
    margin-top: 30px;
}
.con{
    display: flex;
}
.bi1{
    color:white;
   margin-left: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.bi2{
    color:white;
    margin-right: 20px;
}
.row1 p:hover{
    color: rgb(150, 14, 66);
}
.row p:hover{
    color: rgb(150, 14, 66);
}
.bi1 :hover{
    color: rgb(150, 14, 66); 
}
.bi :hover{
    color: rgb(150, 14, 66);
}
.drop :hover{
    color: rgb(150, 14, 66);
}
.list :hover{
    color: rgb(150, 14, 66);
}
.bt :hover{
    background-color: white;
}
.button2 :hover{
    background-color: rgb(248, 248, 248);
}
.button1 :hover{
    background-color: white;
}
